{% extends "layout/basic.html" %}
{% block content %}
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
        
        {% if question.was_expired and user.is_authenticated%}
            <li>
                <div style="border: 2px solid;">
                    <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
                    <p>{{question.short_description}}</p>
                 (Скрыт)
        {% elif not question.was_expired %}
            <li><div style="border: 2px solid;">
                    <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
                    <p>{{question.short_description}}</p>
                
        {% endif %}
        {% if question.was_published_recently %}
            Самый сок! </div> </li>
        {% else %}
            </div></li>
        {% endif %}
    {% endfor %}
</ul>
    {% else %}
     <p>
         Нет вопросов!
     </p>

{% endif %}
{% endblock content %}