{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
<title>{% block title %} Главная {% endblock %} - Электронная доска голосований </title>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom boxshadow">
        <div class="d-flex justify-content-between">
        <h5 class="mr-3 mb-0 text-center">Электронная доска Голосований</h5>
        <a class="p-2 text-dark" href="{% url "polls:index" %}">Главная</a>
        </div>
        <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
                <a class="p-2 text-dark" href="{% url "polls:profile" %}">Профиль</a>
                <a class="p-2 text-dark" href="{% url "polls:logout" %}">Выйти</a>
            {% else %}
                <a class="p-2 text-dark" href="{% url "polls:registration" %}">Регистрация</a>
                <a class="p-2 text-dark" href="{% url "polls:login" %}">Вход</a>
            {% endif %}
        </div>
        
    </div>
</div>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>

</div>
</div>
</body>
</html>